
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Chat App - Welcome</title>
    <!-- Add your professional background image or color -->
    <style>

    </style>
</head>
<body>

<div class="welcome-container">
    <h1 class="app-title">Welcome to Chat Mingle</h1>
    <p class="app-description">Connect with others in real-time. Start chatting now!</p>
<!--    -->
</div>

</body>
</html>
