{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/chit_chat.css' %}">
    <title>Chit Chat</title>
    <!-- Add link to Bootstrap CSS CDN or include Bootstrap in your project -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
    <div class="welcome-container">
        {% if user.is_authenticated %}
            <h1 class="mb-4">Welcome, {{ user.username }}!</h1>

            <div class="user-info mb-4">
                {% if user.userprofile.image %}
                    <img src="{{ user.userprofile.image.url }}" alt="{{ user.username }}'s Profile Image" class="user-image">
                {% else %}
                    <p>No profile image</p>
                {% endif %}
            </div>

            <h2>Your Groups:</h2>
            <ul class="group-list">
                {% for group_name in unique_groups %}
                    <li class="group-list-item">
                        <a href="{% url 'chat' room_name=group_name %}">{{ group_name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <!-- Other content of your chit_chat.html goes here -->

        {% else %}
            <p>Not logged in</p>
        {% endif %}
    </div>

    <!-- Add Bootstrap JS and Popper.js if needed -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
